.activity-card {
  max-width: 20rem;
  width: 100%;
  height: 19rem;
  padding: 0px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: end;
  padding: 20px;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s linear;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
  }

  .footer {
    color: white;
    z-index: 2;
    transition: all 0.3 linear;
    display: flex;
    justify-content: space-between;
    width: 100%;
    p {
      transition: all 0.3s linear;
      height: 0px;
      overflow: hidden;
    }
    a {
      color: #000;
      background: #f2f2f2;
      padding: 5px 10px;
      border-radius: 50px;
      font-size: 12px;
      cursor: pointer;
      position: relative;
      opacity: 1;
      &:hover {
        color: #000;
      }
    }
  }

  &:hover {
    &::after {
      height: 80%;
    }

    p {
      transition: all 0.3s linear;
      opacity: 1;
      height: 170px;
    }
  }
}
