.filter-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
}
@media screen and (max-width: 767px) {
  .filter-header {
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    .input-box {
      overflow: hidden;
      input {
        width: 100%;
      }
    }
    span {
      &:first-child {
        height: 40px;
      }
    }
    .search-box {
      width: 100% !important;
      border-radius: 30px;
    }
  }
  .ant-picker {
    width: 100% !important;
  }
}
