.input-box {
  border: 1px solid #757574;
  padding: 8px 12px;
  border-radius: 8px;
  input {
    height: 100%;
    width: 100%;
    border: none;
  }
}
.search-box {
  width: 50px;
  transition: all 0.3 linear;
  &.active {
    width: 100%;
  }
}
