.nav {
  button {
    color: #f3f3f3;
    background: black;
    padding: 8px 16px;
    border-radius: 30px;
  }

  .logged {
    border: 1px solid #000000;
    border-radius: 100%;
    padding: 1px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: black;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .logo {
    width: 80px;
    border-radius: 100%;
  }
}

.activity-details {
  background: #f1f2f6;
  .details {
    margin: 48px 0;
    border-radius: 20px !important;
    overflow: hidden;
  }
  header {
    height: 600px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.1) 20%,
        hsl(0, 0%, 0%) 100%
      );
    }
  }

  .banner-content {
    position: absolute;
    left: 0px;
    right: 0;
    z-index: 3;
    bottom: 15%;

    h1 {
      color: #fff;
      font-size: 50px;
    }
    ul {
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        width: fit-content;
        color: #fff;
        list-style: none;
        display: flex;
        gap: 10px;
      }
      margin-bottom: 20px;
    }

    a {
      padding: 10px 30px;
      font-weight: 600;
      border-radius: 10px;
      background: #e5e5e5;
      display: block;
      width: fit-content;
      color: #212529;
      margin-top: 30px;
    }
    h6 {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }
}

.price-filter {
  input {
    width: 60px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
  }
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
}

.activity-wrapper {
  margin-top: 100px;
  &.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.filter-content {
  position: absolute;
  left: 0;
}
.highlight {
  .details {
    & > div {
      &:first-child {
        // background-color: red;
        position: relative;
        ul {
          li {
            font-size: 15px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          right: 15%;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: #d3d3d3;
        }
      }
      &:last-child {
        // background-color: red;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 15%;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: #d3d3d3;
        }
      }
    }
  }
}

.card-wrapper {
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #000;
  background-color: white;
  margin-bottom: 30px;
}
.long-discription {
  p {
    border-radius: 20px;
  }
}
.scroll-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #7f7f85;
  background: #e2e3e8;
  transform: rotate(180deg);
}
.additional-details {
  background: #fff;
  padding: 1rem !important;
  border-radius: 20px;
}
.FcKIT-btn {
  font-size: 16px;
  background-color: #ff2d55;
  color: #fff;
  // border: 1px solid;
  padding: 5px 20px;
  font-weight: 600;
  border-radius: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 99;
  transition: all 0.3s linear;
}
.img-modal {
  height: 800px !important;
  .ant-modal-content {
    background: transparent;
    box-shadow: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.img-modal::-webkit-scrollbar {
  display: none !important;
}

.goto-web-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #7f7f85;
  background: #e2e3e8;
}
@media screen and (max-width: 767px) {
  .nav {
    .container {
      padding-left: 0 !important;
    }
    h1 {
      font-size: 20px;
    }
  }
  .activity-details {
    .details {
      margin-top: 30px;
      padding: 0px 0;
    }
    h1 {
      flex-direction: column;
      align-items: start !important;
    }
    // .more-imgs {
    //   display: grid;
    //   grid-template-columns: repeat(1, 1fr);
    //   margin: auto;
    //   place-items: center;
    //   gap: 30px;
    // }

    header {
      height: 600px;
      .banner-content {
        h6 {
          position: relative;
          margin-top: 30px;
        }
      }
    }
  }
  .filter-header {
    justify-content: space-between;
    span {
      &:last-child {
        display: flex;
        justify-content: end;
      }
    }
  }
  .activity-wrapper {
    margin-top: 50px;
  }
  .long-discription {
    margin-top: 30px;
  }

  .highlight {
    .details {
      & > div {
        &:first-child {
          // background-color: red;
          position: relative;
          ul {
            li {
              font-size: 15px;
            }
          }
          &::after {
            display: none;
          }
        }
        &:last-child {
          // background-color: red;
          position: relative;
          justify-content: start !important;
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
