.filter-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
}
.activity-wrapper {
  margin-top: 100px;
  &.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
