* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f2f1f6;
}
html {
  scroll-behavior: smooth;
}

// ---------------custom margins

.mt-30 {
  margin-top: 30px;
}

// ---------------custom image sizes
.img-100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  outline: none;
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

.v-center {
  display: flex;
  align-items: center;
}
.hide-on-desktop {
  display: none !important;
}
.opacity-30 {
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
  .hide-on-desktop {
    display: flex !important;
  }
}

.more-imgs {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
